.wrapper {
    .box {
        background-color: $light-white;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;

        &:nth-of-type(odd) {
            background-color: $medium-light-white;
        }

        &:hover {
            border: 1px outset $medium-light-white;
        }

        &.x {
            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 40px;
                border-radius: 15px;
                background-color: $blue;
            }
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                transform: rotate(-45deg);
            }
        }

        &.o {
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }
            &::after {
                width: 80%;
                height: 80%;
                background-color: $green;
            }
            &::before {
                width: 50%;
                height: 50%;
                background-color: inherit;
                z-index: 1;
            }
        }
    }
}
