.container {
    height: 100%;
    padding: 20px;
    margin: 0 auto;

    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: $medium-light-white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px $light-grey;
    position: absolute;
    height: auto;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
}
