.container {
    height: 100%;
    padding: 20px;
    margin: 0 auto;

    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: $blue;
    border-radius: 5px;
    position: absolute;
    height: auto;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
}

.panel {
    font-size: 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .player-score {
        font-size: 4.8rem;
        text-align: center;

        &:first-of-type {
            margin-bottom: 50px;
        }

        .player-name {
            text-align: center;
        }

        .score {
            font-size: 3.6rem;
        }
    }

    .buttons {
        flex-grow: 1;
        position: relative;

        .restart-button {
            position: absolute;
            bottom: 0;
            width: calc(100% - 20px);
        }
    }
}
