.button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 2.4rem;
    background-color: $beige;
    color: $white;
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
    }

    &.small {
        width: auto;
        padding: 5px 10px;
    }
}
