.button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 2.4rem;
    background-color: white;
    color: $black;
    box-shadow: 1px 1px 2.5px $black;
    cursor: pointer;

    &:hover {
        border: 1px solid $light-grey;
    }
}
