.button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 2.4rem;
    background-color: $beige;
    color: $white;
    // box-shadow: 1px 1px 2.5px $box-shadow;
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
    }

    &.small {
        width: fit-content;
        padding: 5px;
    }

    // &.blue {
    //     background-color: $blue;
    //     color: $light-yellow;
    // }
}
